{% extends "hal_admin/base.html" %}{% load static %}

{% block title %}
Data Pasien
{% endblock title %}
{% block header %}
<link rel="stylesheet" href="{% static 'hal_admin/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %} ">
<link rel="stylesheet"
  href="{% static 'hal_admin/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %} ">
<link rel="stylesheet" href="{% static 'hal_admin/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css' %} ">
{% endblock header %}
{% block konten %}

<!-- Header -->
<div class="header bg-success pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Rekam Medis</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="{% url 'pegawaiadmin:index_pegawaiadmin' %}">
                  <i class="fas fa-home"></i>
                </a>
              </li>
              <li class="breadcrumb-item"><a href="{% url 'pegawaiadmin:index_pegawaiadmin' %}">Pegawai Admin</a></li>
              <li class="breadcrumb-item active" aria-current="page">Rekam Medis</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <!-- <a
                        href="{% url 'pegawaiadmin:index_pegawaiadmin' %}"
                        class="btn btn-sm btn-neutral">Tambah Data Pasien</a> -->
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <!-- {{ request.get_host }}{{ request.get_full_path }} -->
        <div class="card-header">
          <h3 class="mb-0">Detail Rekam Medis</h3>
        </div>
        <!-- Card body -->
        <div class="card-body">
          <form method="post">
            {% csrf_token %}

            <div class="form-group row">
              <label for="example-text" class="col-md-2 col-form-label form-control-label">No RM Pasien</label>
              <div class="col-md-10">
                <input readonly name="norm" class="form-control" type="text" value="{{ data.idpendaftaran.norm.norm }}"
                  id="example-text">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Nama Pasien</label>
              <div class="col-md-10">
                <input readonly class="form-control" type="text" name="namapasien" maxlength="200"
                  value="{{ data.idpendaftaran.norm.namapasien }}" required placeholder="John Snow"
                  id="example-text-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-text-poli" class="col-md-2 col-form-label form-control-label">Tujuan Poli</label>
              <div class="col-md-10">
                <input readonly class="form-control" type="text" name="tujuan_poli" maxlength="200"
                  value="{{ data.idpendaftaran.tujuanpoli }}" required placeholder="Masukkan Nama" id="example-text-poli">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-alamat" class="col-md-2 col-form-label form-control-label">Gejala Awal
                <br><small>(Diisi Catatan Perawat)</small> 
              </label>
              <div class="col-md-10">
                <textarea readonly class="form-control" name="gejalaawal" id="example-alamat"
                  rows="3">{{ data.idpendaftaran.gejalaawal }}</textarea>
              </div>
            </div>
              <div class="form-group row">
                <label for="example-text-input" class="col-md-2 col-form-label form-control-label">Diagnosa</label>
              <div class="col-md-10">
                <input readonly class="form-control" type="text" name="diagnosa" maxlength="200"
                  value="{{data.id_diagnosa}}" required placeholder="Masukkan Diagnosa"
                  id="example-text-input">
              </div>
          </div>
          <div class="form-group row">
              <label for="example-text-input" class="col-md-2 col-form-label form-control-label"></label>
              <div class="col-md-10">
                <input readonly class="form-control" type="text" name="diagnosa" maxlength="200"
                  value="{{data.id_diagnosa2}}" required placeholder="Masukkan Diagnosa"
                  id="example-text-input">
              </div>
          </div>
          <div class="form-group row">
              <label for="example-text-input" class="col-md-2 col-form-label form-control-label"></label>
              <div class="col-md-10">
                <input readonly class="form-control" type="text" name="diagnosa" maxlength="200"
                  value="{{data.id_diagnosa3}}" required placeholder="Masukkan Diagnosa"
                  id="example-text-input">
              </div>
          </div> 
          <div class="d-flex justify-content-end">
            <input type="button" class="btn-sm btn-dark d-flex justify-content-end"
            onclick="location.href='{% url 'pegawaiadmin:history' %}'"
            value="Kembali" />
          </div>
        </div>

      </div>
      <!-- Argon Scripts -->

      {% endblock konten %}