{% extends "hal_admin/base.html" %}{% load static %}

{% block title %}
Halaman Pegawai Administrasi
{% endblock title %}
{% block header %}
<link rel="stylesheet" href="{% static 'hal_admin/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %} ">
<link rel="stylesheet"
    href="{% static 'hal_admin/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %} ">
<link rel="stylesheet" href="{% static 'hal_admin/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css' %} ">
<link rel="stylesheet" href="{% static 'static/bootstrap/css/home.min.css' %} ">
{% endblock header %}
{% block konten %}

<div class="header bg-success ">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Dashboard Pegawai Administrasi</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="{% url 'pegawaiadmin:index_pegawaiadmin' %}">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboards</li>
                        </ol>
                    </nav>
                </div>
                {% comment %} <!-- <div class="col-lg-6 col-5 text-right">
                    <a
                        href="{% url 'apoteker:tambah_obatnya' %}"
                        class="btn btn-sm btn-neutral">Tambah Data Obat</a>
                    <!--  --
                </div> --> {% endcomment %}
            </div>
        </div>
    </div>
</div>

<div class="header bg-success pb-5 pt-3">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row py-2">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Pasien</h5>
                                    <span class="h1 font-weight-bold mb-0">{{ total_pasien }}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fas fa-users"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row py-2">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Pegawai</h5>
                                    <span class="h1 font-weight-bold mb-0">{{total_pegawai}}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                        <i class="fas fa-user-md"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row py-2">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Akun</h5>
                                    <span class="h1 font-weight-bold mb-0">{{total_akun}}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row py-2">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Rawat Inap</h5>
                                    <span class="h1 font-weight-bold mb-0">49,65</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                        <i class="fas fa-bed"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container text-center">
    <div class="card mt-4">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <footer class="blockquote">Selamat datang di halaman Pegawai Administrasi <b> {{ namaakun }}</footer>
                <p>Semoga harimu menyenangkan. 😊️</p>
            </blockquote>
        </div>
    </div>
</div>
<!-- Argon Scripts -->

{% endblock konten %}

{% block script %}
<script src="{% static 'hal_admin/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'hal_admin/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'hal_admin/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'hal_admin/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'hal_admin/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'hal_admin/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'hal_admin/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'hal_admin/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>
<script src="{% static 'hal_admin/js/demo.min.js' %}"></script>



{% endblock script %}